* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        width: 100%;
        display: flex;
        background: linear-gradient(to left,#fff,#333);
        
      }
      .memory_card
      {
          margin: 5px;
          position: relative;
          transform: scale(1);
          transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
          transition:transform .5s;
          cursor: pointer;
      }
     
      .front_card,.back_card
      {
        
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
      }
      .front_card{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
      }
      .flip{
          transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
         
      }
      .memory-game
      {
         width: 640px;
         height: 640px;
          display: flex;
          flex-wrap: wrap;
          margin: auto;
          align-content: center;
          justify-content: center;
      }
      .winwrap{
          position: absolute;
          top:50%;
          left: 50%;
          width: 400px;
          height: 300px;
          background: url("../img/fram.png");
          background-size: 400px 300px;
          text-align: center;
          border-radius: 10px;
          transform: translate(-50%,-50%);
          
      }
      .winwrap button
      {
         
          width: 100px;
          height: 32px;
          font-size: 19px;
          border-radius: 5px;
          border: none;
          font-weight: bold;
          outline: 0;
        
      }
      .yes
      {
        background: url("../img/button1_up.png");

        background-size: 100px 32px;
        cursor: pointer;
        color:white;
        margin: 10px;
      }
      .yes:hover
      {
        background: url("../img/button1_down.png");
        background-size: 100px 32px;
      }
      .no{
        background: url("../img/button2_up.png");
        background-size: 100px 32px;
        cursor: pointer;
        color:white;
        
        margin: 10px;
      }
      .no:hover
      {
        background: url("../img/button2_down.png");
        background-size: 100px 32px;
      }
      .time{
        position: absolute;
        top:50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        letter-spacing: 10px;
        font-family: sans-serif;
        font-weight: bold;
      }
      .menu,.startmenu,.rankmenu
      {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50px;
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(30, 52, 76);
        border: 18px solid rgb(12, 26, 39);
      } 
      .rankmenu 
      {
        justify-content: start;
        position:absolute;
        display: none;
      }
      .rankmenu h1
      {
        color:rgb(243, 162, 44);
        padding: 20px 0 5px 0;
      }
      .rankmenu ul
      {
        padding: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
      }
      .rankmenu ul li
      {
        border-radius: 20px;
        color:white;
        width: 180px;
        padding: 5px;
        font-size: 30px;
        background-color: rgb(243, 162, 44);
        margin: 15px 0px;
        text-align: center;
        box-shadow: 0px 7px 0px rgb(222, 66, 40),0px 3px 6px rgba(0, 0, 0, .9),inset 1px -1px 11px 4px rgba(246,113,36);
        transition: .3s;
        cursor: pointer;
        user-select: none;
        font-weight: bold;
        border: 0;
        outline: 0;
      }
      .menu{
          display: none;
      }
      .startmenu h1{
          padding: 0 0 15px 0;
          color:rgb(243, 162, 44);
      }
      .name{
          
          border: 3px solid rgb(243, 162, 44);
          
          outline: 0;
          padding: 5px;
          font-size: 20px;
          width: 70%;
          font-weight: bold;
          margin: 10px 0;
          text-align: center;
      }
      .levelbt
      {
        border-radius: 20px;
        color:white;
        width: 180px;
        padding: 5px;
        font-size: 30px;
        background-color: rgb(243, 162, 44);
        margin: 20px 0px;
        text-align: center;
        box-shadow: 0px 7px 0px rgb(222, 66, 40),0px 3px 6px rgba(0, 0, 0, .9),inset 1px -1px 11px 4px rgba(246,113,36);
        transition: .3s;
        cursor: pointer;
        user-select: none;
        font-weight: bold;
        border: 0;
        outline: 0;
      }
      .startbt,.linkbt
      {
        margin: 10px 0px;
      }
      .levelbt:hover
      {
        box-shadow: 0px 3px 0px rgb(222, 66, 40),0px 3px 6px white,inset 1px -1px 11px 4px rgba(246,113,36);
      }
      .Mask
      {
        display: none;
        width: 100vw;
        position: fixed;
        height: 100vh;
        z-index: 999999;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        background-color: rgba(0, 0, 0, .6);
      }
      .rankbt{
        width: 40px;
        height: 40px;
        background-color:rgb(243, 162, 44);
        box-shadow:0px 5px 0px rgb(222, 66, 40),0px 3px 6px rgba(0, 0, 0, .9);
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:white;
        font-size: 25px;
        cursor: pointer;
        top:0px;
        left: 0px;
        position:absolute;
      }



      /* rankmenu style start */

      .Ranking
      {
        font-size: 30px;
        color: white;
        font-weight: bold;
        width: 20%;
      }
      .rankname
      {
        font-size: 20px;
        color: black;
        font-weight: bold;
        width: 50%;
      }
      .rankscore
      {
        font-size: 20px;
        color: black;
        font-weight: bold;
        width: 30%;
        text-align: center;
        
      }
      .level1rank
      {
        width: 100%;
        line-height: 36px;
       
      }
      .level1rank div
      {
        background-color:rgb(243, 162, 44);
        margin: 10px;
        padding-left: 20px;
        display: flex;
        border-radius: 5px;
      }
      .returnbt,.closebt
      {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color:rgb(243, 162, 44);
        box-shadow:0px 5px 0px rgb(222, 66, 40),0px 3px 6px rgba(0, 0, 0, .9);
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:white;
        font-size: 25px;
        cursor: pointer;
      }
      .returnbt
      {
        top: 10px;
        left: 10px;
        display: none;
      }
      .closebt{
        top: -5px;
        right: -5px;
      }
      /* rankmenu end */